<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vitamin.wecantalk">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/StartTheme">
        <activity android:name=".UIActivity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UIActivity.PopActivity">

        </activity>

        <activity android:name=".UIActivity.MainFragmentActivity">

        </activity>

        <activity android:name=".UIActivity.StudyActivity">

        </activity>

        <activity android:name=".UIActivity.CommunityRoomActivity">

        </activity>
        <activity android:name=".UIActivity.RegisterActivity">

        </activity>

        <activity android:name=".UIActivity.FindIdActivity">

        </activity>

        <activity android:name=".UIActivity.PostingActivity">

        </activity>

        <activity android:name=".UIActivity.CommentActivity">

        </activity>

        <activity android:name=".Notepad.NoteEdit"
            android:windowSoftInputMode="adjustUnspecified">

        </activity>
        <activity android:name=".Notepad.NoteList"></activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
</manifest>